<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="TestChrome">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>  
    <test name="TestFirefox">
        <parameter name="browser" value="Firefox"></parameter>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>  
    <test name="TestEdge">
        <parameter name="browser" value="Edge"></parameter>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>  
    
    <listeners>
		<listener class-name="listeners.AnnotationTransformer"></listener>
	</listeners>
    
    
</suite>
